img {
	vertical-align: middle;
  width: 50%;
  overflow: hidden;
}

body{
  color: #3A4750;
}

header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #00918C;
  height: 170px;
  width: 90%;
  margin: 0 auto;
}
  

header nav{
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
} 
  
header nav a{
  padding-top: 100px;
  text-decoration: none;
}

.logo{
  width: 42.5%;
  margin-left: -215px;
}

body{
  background-color: #A69DA2;
  color: #3A4750;
  text-align: center;
  font-size: 17px;
}


h1{
  font-family: 'Merienda One', Arial, Helvetica, sans-serif;
}

h3{
  font-family: 'Merienda One', Arial, Helvetica, sans-serif;
}

p{
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
  width: 900px;
  align-self: center;
  margin-left: 390px;
}

a{
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}


#link{
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#painter{
  display: grid;
  grid-template-columns: 150px 1300px 150px;
  grid-template-rows: 75px 200px;
}

#painter h1{
  grid-column: 1/4;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

#painter img{
  width: 200%;
}

#painter p{
  margin: 0;
  justify-self: center;
}

#toad{
  justify-self: center;
}

#lightsaber{
  margin-top: 50px;
}

#mapping{
  display: grid;
  grid-template-columns: 150px 1300px 150px;
  grid-template-rows: 75px 200px;

}

#mapping img{
  width: 200%;
}

#mapping h1{
  grid-column: 1/4;
  grid-row: 1;
  margin: 0;
  padding: 0;
  align-self: center;
}

#mapping p{
  justify-self: center;
  margin: 0;
}

#zerrin{
  justify-self: center;
}

footer{
  background-color: #00918C;
  height: 170px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
